@font-face {
    font-family: "letraHipster";
    src: url("../fonts/letra_hipster.ttf") format("truetype");
}
body {
    font-family: letraHipster;
    min-width: 400px;
    max-width: 100vw;
    overflow-x: hidden;
}
a:hover{
    text-decoration: none;
}
.navbar .nav-link{
    font-size: 1.8rem;
}
.navbar-brand{
    font-size: 2rem;
}
.presentation{
    min-width:400px;
    width: 100vw;
    height: 70vh;
    background-image: url("../img/cover.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}
.presentation .titles .site{
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.presentation .titles .phrase{
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.separator{
    width: 100vw;
    height: 30px;
}
.connexion {
    width: 100vw;
    height: 70vh;
    background-image: url("../img/cover.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border: 1rem solid;
    font-size: 2rem;
}
.prestation-row{
    position: relative;
}
.prestation-row .modif-row{
    position:absolute;
    top: 0px;
    right: 0px;
    display: flex;
}